.center{
    text-align: center;
}
.btn-primary{
    color: rgb(14, 13, 13);
    background-color: azure;
    border: #070707 1px;
    border-style: solid; 
    text-align: center;
    
}
.tab_w{
    min-height: 200px;
    margin-top: 5%;
}
.mrg{
    margin: 5%;
}
.bord{
    border: #070707 1px;
    border-style: solid; 
}